{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="timeline" class="col-md-7 box-default timeline">
            <h1>Timeline</h1>
            <hr>
            <div class="box-content">
                PUBLICATIONS
            </div>
        </div>
        <div id="user-card" class="col-md-3">
            <div class="row box-default">
                <div class="col-md-4 avatar">
                    {% if app.user.image == null %}
                        <img src="{{asset('img/default.png')}}" alt="Profile photo" />
                    {% else %}
                        <img src="{{asset('uploads/users/'~ app.user.image )}}" alt="Profile photo" />
                    {% endif %}
                </div>
                <div class="col-md-8 name-surname">
                    <a href="#/">{{app.user.name}} {{app.user.surname}}</a>
                    <p class="text-muted">{{app.user.nick}}</p>
                </div>
            </div>
            <div id="new-publication" class="box-default mt-3">
                <b class="text-muted h3 p-2">What´s happening?</b>
                <hr>
                <input type="text" class="form-control" placeholder="...">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}