<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Symfony Social Media{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('css/site.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.6.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/fontawesome.js') }}"></script>
            <script src="{{ asset('js/addFlash.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{path('app_homepage')}}"><i class="fa-solid fa-house"></i></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                        {% if app.user == null %}
                        <ul class="nav navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('login')}}"><i class="me-1 fa-solid fa-right-to-bracket"></i>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('register')}}"><i class="me-1 fa-solid fa-user"></i>Register</a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user me-1"></i>{{app.user.name}} {{app.user.surname}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#"><i class="me-1 fa-solid fa-user-pen"></i>Profile</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="me-1 fa-solid fa-gear"></i>Settings</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#"><i class="me-1 fa-solid fa-circle-question"></i>Help</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="me-1 fa-solid fa-right-from-bracket"></i>Logout</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <section class="container-fluid" id="content">
            {# ACOMODAR ESTO CON UN ROW #}
            <div class="container mt-2">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{message}}</div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{message}}</div>
                {% endfor %}
            </div>
            {% block body %}

            {% endblock %}
        </section>
        <hr>
        <footer class="container text-center">
            <p class="text-muted">Develop a Social Media with Symfony 3 - Luciano Romero - lucianooromero1@gmail.com</p>
        </footer>
    </body>
</html>
 